<div id="<%= dom_id member %>">
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= member.phone %>
  </p>

  <p>
    <strong>Ieee membership number:</strong>
    <%= member.ieee_membership_number %>
  </p>

  <p>
    <strong>Ieee membership grade:</strong>
    <%= member.ieee_membership_grade %>
  </p>

  <p>
    <strong>Ieee membership status:</strong>
    <%= member.ieee_membership_status %>
  </p>

  <p>
    <strong>Ieee hkn:</strong>
    <%= member.ieee_hkn %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= member.major %>
  </p>

  <p>
    <strong>Grade year:</strong>
    <%= member.grade_year %>
  </p>

  <p>
    <strong>Grad date:</strong>
    <%= member.grad_date %>
  </p>

  <p>
    <strong>Linkedin username:</strong>
    <%= member.linkedin_username %>
  </p>

  <p>
    <strong>Discord username:</strong>
    <%= member.discord_username %>
  </p>

</div>
