<p style="color: green"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @member.first_name %>
    <%= @member.last_name %>
  </h1>
  <p class="lead">
    Email: <%= @member.email %>  | 
    Phone #: <%= @member.phone %>  |  
    Twitter: <%= @member.ieee_membership_number %>
  </p>
  <p class="lead">
    IEEE membership number: <%= @member.ieee_membership_number %>  | 
    Membership Grade: <%= @member.ieee_membership_grade %>  | 
    Membership Status: <%= @member.ieee_membership_status %>  | 
    HKN Status: <%= @member.ieee_hkn %>
  </p>
  <p class="lead">
    Major: <%= @member.major %>  | 
    Grade year: <%= @member.grade_year %>  | 
    Expected Graduation Date: <%= @member.grad_date %>  
  </p>
  <p class="lead">
    Linkedin username:<%= @member.linkedin_username %>  | 
    Discord username: <%= @member.discord_username %>
  </p>
  <br/>

<div style="display: flex; align-items: center;">
  <%= link_to "Edit this member", edit_member_path(@member), class: "btn btn-secondary", style: "margin-right: 10px;" %> 
  <%= link_to "Back to members", members_path, class: "btn btn-secondary", style: "margin-right: 10px;" %> 
  <%#= button_to "Delete this member", @member, method: :delete, class: "btn btn-danger", style: "" %>
</div>
